### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Maven ###
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

src/main/resources/databases/*
!src/main/resources/databases/Uruguay - 2022/
!src/main/resources/databases/Uruguay - 2023/
src/main/resources/output/*
!src/main/resources/output/Petrópolis - RJ_-22.508156_-43.175495.csv